body {
  font-family: IBM Plex Sans;
  margin: 0px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "top"
    "main";
  height: 100vh;
}

header {
  display: flex;
  grid-area: top;
  background-color: navy;
  padding-left: 30px;
  align-items: center;
}

header h1 {
  color: papayawhip;
  margin: 0px;
  font-family: Karla;
}

header h2 {
  color: papayawhip;
  margin-left: 20px;
  font-family: Karla;
}

form {
  grid-area: main;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: auto;
  grid-template-areas: "left right";
}

button {
  margin: 0px;
  border-radius: 0px;
  font-size: 16px;
  width: 70px;
  height: 35px;
}

#text-fields {
  display: flex;
  flex-direction: column;
  grid-area: left;
  padding: 30px;
}

.form-field {
  display: flex;
  align-items: center;
  height: 100px;
}

.form-field .form-label {
  flex: 1;
  margin-right: 20px;
  font-size: 20px;
}

.form-field .text-input {
  flex: 1.2;
  padding: 0px 10px;
  font-size: 20px;
  height: 40px;
  width: calc(100% - 200px);
}

.form-field #category-select {
  border: 0.5px solid rgb(210, 210, 210);
  font-size: 20px;
  width: 200px;
  height: 40px;
}

.form-field #file-upload {
  display: none;
}

#date-error,
#reward-error {
  display: none;
  justify-content: flex-end;
  color: red;
  margin-top: -20px;
}

#image {
  grid-area: right;
  padding: 30px;
}

#submit {
  margin-left: 30px;
}

@media screen and (max-width: 1100px) {
  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #text-fields {
    padding-bottom: 0px;
  }

  #images {
    padding-top: 0px;
  }
}

@media screen and (max-width: 700px) {
  #radius-radio {
    width: 210px;
  }
}
