*{
  box-sizing: border-box;
  font-family: Arial;
}

body {
  font-family: IBM Plex Sans;
  margin: 0px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "top"
    "main";
  height: 100vh;
}



.cards{
  display: flex;
  flex-wrap: wrap;
}

.cards article{
  border: solid 10px white;
  width: 100%;
  height: 100%;
  grid-template-areas: middle right;

}

.image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}



#user_name{
  margin-left: 800px;
  font-family: Karla;
  color: papayawhip;
  font-size: 18px;

}

header h2{

  color: white;
  margin: 0px;
  font-family: Karla;
  padding-left: 20px;
}

#log_button{
  font-size: 20px;
  margin-left: 100px ;
}

header {
  display: flex;
  grid-area: top;
  background-color: navy;
  padding-left: 30px;
  align-items: center;
}

header h1 {
  color: papayawhip;
  margin: 0px;
  font-family: Karla;
}

form {
  grid-area: main;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 100%;
  grid-template-areas: "  left right right";
}


#categories_aside{
  grid-area: left;
  padding: 30px;
  grid-template-areas: "left"
}

header {
  width: 100vw;
}

