body {
  font-family: IBM Plex Sans;
  margin: 0px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "top"
    "main";
  height: 100vh;
}

#user_name{
  margin-left: 800px;
  font-family: Karla;
  color: papayawhip;
  font-size: 18px;

}

header h2{

  color: white;
  margin: 0px;
  font-family: Karla;
  padding-left: 20px;
}

#log_button{
  font-size: 20px;
  margin-left: 100px ;
}

header {
  display: flex;
  grid-area: top;
  background-color: navy;
  padding-left: 30px;
  align-items: center;
}

header h1 {
  color: papayawhip;
  margin: 0px;
  font-family: Karla;
}

form {
  grid-area: main;
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: 100%;
  grid-template-areas: "left right";
}

#text-fields {
  grid-area: left;
  padding: 30px;
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.form-field .form-label {
  font-weight: 100;
  font-size: 20px;
}

.form-field .text-input {
  font-family: IBM Plex Sans;
  font-size: 20px;
  width: 300px;
  height: 40px;
  margin-right: 10px;
}

.form-field button,
#submit {
  margin: 0px;
  border-radius: 0px;
  font-size: 16px;
  width: 70px;
  height: 35px;
}

.form-field #file-upload {
  display: none;
}

#money-error{
  display: none;
}

#images {
  grid-area: right;
  padding: 30px;
}

@media screen and (max-width: 1100px) {
  body {
    grid-template-rows: 100px;
    grid-template-columns: 100vh;
    grid-template-areas:
      "top"
      "main"
      "bottom";
  }
  header {
    width: 100vw;
  }
  #images {
    grid-area: bottom;
  }
}
